/* CSS Reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 10px;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Poppins", sans-serif;
  background: #080a0b;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Navbar */
.bg-navbar {
  background-color: rgba(0, 0, 0, 0.5);
}
.nav-link {
  letter-spacing: 2px;
  color: #fff;
}
a.nav-link {
  transition: ease 0.5s;
}
a.nav-link:hover {
  color: #fff !important;
  transform: translateY(-2px);
}
/* Homepage - Main Screen */
.main-screen {
  width: 100vw;
  height: 120vh;
  background-image: url("../assets/images/bg-main-screen.png");
  background-position: center;
  background-size: cover;
}
.main-screen::before {
  content: "";
  width: 100vw;
  height: 120vh;
  background: linear-gradient(to top, #080a0b 1%, transparent);
  position: absolute;
}
.text-content {
  text-align: center;
  font-size: 5.4vmax;
  letter-spacing: 3px;
  text-transform: uppercase;
  position: relative;
  top: 26%;
  margin: auto;
}
.detail-content {
  text-align: center;
  font-size: 1.5vmax;
  font-weight: 100;
  letter-spacing: 2px;
  position: relative;
  top: 35%;
}
a.btn.play-button {
  transition: ease 0.5s;
}
.play-button {
  width: 18vmax;
  color: #1a1917;
  background-color: #f3af34;
  letter-spacing: 1px;
  font-size: 1.5vmax;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  left: 41%;
  top: 45%;
}
.play-button:hover,
.play-button:active {
  color: #1a1917;
  background-color: #ffb548 !important;
  border: none !important;
}
.story-text {
  font-size: 1vmax;
  letter-spacing: 2px;
  text-align: center;
  width: 10vw;
  text-transform: uppercase;
  position: absolute;
  bottom: -10%;
  left: 45%;
  cursor: pointer;
  animation-iteration-count: infinite;
  animation-duration: 15s;
}
.story-text span {
  font-size: 2vmax;
  display: block;
  text-align: center;
  padding-top: 2px;
}
/* Homepage - Gameplay Options */
.game-choice {
  width: 100vw;
  height: 150vh;
  background-image: url("../assets/images/bg-game-choice.png");
  background-position: center;
  background-size: cover;
}
.game-choice::before {
  width: 100vw;
  height: 150vh;
  background: radial-gradient(closest-corner, transparent, #080a0b 100%);
  content: "";
  position: absolute;
}
.carousel-container {
  width: 100vw;
  height: 150vh;
}
.carousel-container::before {
  content: "";
  width: 100vw;
  height: 150vh;
  position: absolute;
  background: #080a0b;
  opacity: 0.9;
}
.carousel {
  width: 59vw;
  top: 19%;
  right: 8%;
  float: right;
  position: relative;
}
.icon-slider {
  font-size: 4vmax;
  margin: 0;
}
.carousel-control-prev {
  width: 0;
  height: 3vmax;
  top: 40%;
  left: -3%;
  position: absolute;
}
.carousel-control-next {
  width: 0;
  height: 3vmax;
  top: 40%;
  right: -3%;
  position: absolute;
}
.text-choice {
  font-size: 1.5vmax;
  font-weight: 100;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: -2px 5px #000;
  position: relative;
  padding-left: 7vmax;
  top: 25%;
}
.text-choice span {
  display: block;
  position: relative;
  font-size: 4vmax;
  text-transform: uppercase;
  padding-top: 15px;
}
/* Homepage - Game Features */
.game-features {
  width: 100vw;
  height: 125vh;
  background-image: url("../assets/images/bg-game-features.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.game-features::before {
  content: "";
  width: 100vw;
  height: 125vh;
  background: radial-gradient(
    circle farthest-corner at center left,
    transparent -10%,
    #080a0b 75%
  );
  position: absolute;
}
.features-container {
  width: 100vw;
  height: 125vh;
}
.text-features {
  width: 40vw;
  font-size: 4vmax;
  letter-spacing: 2px;
  position: relative;
  top: 16%;
  left: 60%;
  color: #fff;
}
.text-features span {
  font-size: 1.5vmax;
}
.text-features::before {
  content: "";
  width: 100vw;
  height: 2vh;
  position: absolute;
  background: linear-gradient(to bottom, rgba(8, 10, 11, 0.9), #080a0b);
  top: -30%;
  right: 0;
}
.container-option {
  margin-top: 1.5em;
}
.option-features {
  text-transform: uppercase;
  font-size: 2vmax;
  margin: 7vh 0;
  color: #ffb548;
  position: relative;
}
.option-features span {
  font-size: 60%;
  color: transparent;
  border: 1px solid #fff;
}
.option-active::after {
  content: "";
  width: 1px;
  height: 22.2vh;
  left: 1.5%;
  background: #fff;
  position: absolute;
}
.detail-features {
  width: 60%;
  font-size: 1vmax;
  letter-spacing: 2px;
  margin-top: -3vh;
  margin-bottom: 5vmax;
  margin-left: 3vmax;
  position: relative;
}
/* Homepage - Game Requirements */
.game-requirements {
  width: 100vw;
  height: 150vh;
  background-image: url("../assets/images/bg-game-requirements.png");
  background-position: center;
  background-size: cover;
}
.game-requirements:before {
  content: "";
  width: 100vw;
  height: 150vh;
  background: radial-gradient(
    circle farthest-side at center right,
    transparent -10%,
    #080a0b 75%
  );
  position: absolute;
}
.content-system {
  width: 100vw;
  height: 150vh;
  position: relative;
}
.content-system::before {
  content: "";
  width: 100vw;
  height: 2vh;
  position: absolute;
  top: -1%;
  background: linear-gradient(to bottom, rgba(8, 10, 11, 0.9), #080a0b);
}
.title {
  width: 50vw;
  font-size: 1.5vmax;
  letter-spacing: 2px;
  position: relative;
  color: #fff;
  left: 35%;
  top: 20%;
}
.system-text {
  width: 2vmax;
  font-size: 5vmax;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  position: relative;
  top: 17%;
  left: 5%;
}
.container-system {
  width: 50vw;
  top: 30%;
  left: 5%;
  letter-spacing: 2px;
}
.container-system .col,
.col-12 {
  height: 10vmax;
  border: 1px solid rgba(151, 151, 151, 0.3);
}
.container-system h1 {
  color: #ffb548;
  font-size: 2vmax;
  text-transform: uppercase;
  margin: 2vh 0 2px 10px;
}
.container-system p {
  font-size: 1vmax;
  margin: 2vh 0 5px 10px;
  line-height: 3vh;
}
/* Homepage - Top Scores */
.top-scores {
  width: 100vw;
  height: 150vh;
  background-image: url("../assets/images/bg-top-score.png");
  background-position: center;
  background-size: cover;
}
.top-scores::before {
  content: "";
  width: 100vw;
  height: 150vh;
  position: absolute;
  background: radial-gradient(
    circle farthest-corner at center left,
    transparent,
    #080a0b 80%
  );
}
.container-score {
  width: 80vw;
  height: 100vh;
  position: relative;
  top: 20%;
}
.leaderboard {
  width: 25vw;
  left: 60%;
  position: relative;
}
.leaderboard .card {
  width: 24vmax;
  background: rgba(255, 255, 255, 0.08);
}
.leaderboard .card-text {
  line-height: 3vh;
}
.profile-img {
  width: 65px;
  height: 65px;
  position: relative;
  z-index: 1;
}
.profile-name {
  width: 18vmax;
  letter-spacing: 2px;
  color: #ffb548;
  top: 15%;
  position: absolute;
}
.profile-name::before {
  content: "";
  width: 65px;
  height: 65px;
  background: #ffb548;
  position: absolute;
  left: -27%;
  top: -40%;
  border-radius: 50%;
  z-index: 0;
}
.profile-job {
  top: 25%;
  position: absolute;
}
.profile-job,
.leaderboard .fa-twitter,
.leaderboard .blockquote-footer {
  color: rgba(255, 255, 255, 0.4);
}
.first-place {
  margin-left: 40%;
}
.third-place {
  margin-left: 30%;
}
.title-score {
  width: 25vw;
  letter-spacing: 1.5px;
  top: 25%;
  left: 10%;
}
.title-score p {
  line-height: 3vh;
}
/* Homepage - Newsletter */
.img-news {
  width: 30vw;
  height: 90vh;
  padding-left: 8%;
  padding-top: 5%;
}
.img-news::before {
  content: "";
  width: 30vw;
  height: 100vh;
  position: absolute;
  background: radial-gradient(ellipse farthest-side, transparent 3%, #080a0b);
}
.newsletter article {
  bottom: 70%;
  position: relative;
  letter-spacing: 2px;
  line-height: 3vh;
}
.form-control,
.form-control:active {
  background: rgba(255, 255, 255, 0.08) !important;
  letter-spacing: 2px;
}
.form-floating,
.copyright {
  color: rgba(255, 255, 255, 0.4);
}
.btn-sub {
  height: 8vh;
}
.footer a {
  margin: 0 1vw;
}
.fa-youtube {
  color: rgb(255, 0, 0) !important;
}


/* Responsive Styling */
@media (min-width: 576px) {
  
}