/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 10px;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: 'Poppins', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Navbar */
.bg-navbar {
  background-color: #fff;
}
.nav-link {
  letter-spacing: 2px;
}
a.nav-link{
  transition: ease .5s;
}
a.nav-link:hover{
  color: #000 !important;
  transform: translateY(-2px);
}
/* Homepage - Main Screen */
.main-screen{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/assets/images/header.jpg');
  background-position: center;
  background-size: cover;
}
.text-content{
  text-align: center;
  font-size: 5vmax;
  letter-spacing: 2px;
  text-transform: uppercase;
  position: relative;
  top: 25%;
  margin: auto;
  text-shadow: -5px 5px #5398fe;
}
.detail-content {
  text-align: center;
  font-size: 2vmax;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  top: 35%;
  text-shadow: -2px 3px #5398fe;
}
a.btn.play-button{
  transition: ease .5s;
}
.play-button {
  width: 20vmax;
  color: #5398fe;
  background-color: #fff;
  letter-spacing: 1px;
  font-size: 1.5vmax;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  left: 40%;
  top: 50%;
}
.play-button:hover, .play-button:active {
  color: #fff;
  background-color: #5398fe !important;
  border: none !important;
}
/* Homepage - Gameplay Options */
.game-choice{
  width: 100vw;
  height: 150vh;
  background-image: url('/public/assets/images/bg-game-choice.jpg');
  background-position: center;
  background-size: cover;
}
.carousel{
  width: 60vw;
  margin: auto;
  top: 25%;
}
.icon-slider{
  font-size: 4vmax;
}
.text-choice{
  font-size: 5vmax;
  font-weight: bold;
  letter-spacing: 1px;
  text-align: center;
  color: #fff;
  text-shadow: -2px 5px #000;
  position: relative;
  top: 15%;
}
/* Homepage - Game Features */
.game-features{
  width: 100vw;
  height: 100vh;
  background-image: url('/public/assets/images/bg-game-features.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.text-features{
  width: 40vw;
  font-size: 4vmax;
  letter-spacing: 2px;
  display: inline-block;
  position: relative;
  top: 20%;
  left: 15%;
  color: #fff;
}
.text-features span{
  font-size: 1.5vmax;
}
.container-option{
  margin: 1em;
}
.option-features{
  text-transform: uppercase;
  font-size: 2vmax;
  color: #fe3124;
}
.detail-features{
  font-size: 1vmax;
  padding-top: 20px;
  margin-bottom: 5em;
}